#mobile-hero, .collapsable {
  display: none;
}
@media only screen and (max-width: 767px) {
  #container {
    min-width: 320px;
  }
  #logo {
    top: 3px;
    left: 7px;
    width: 63px;
    height: 63px;
    background-image: url('../img/logo.png');
    background-size: 63px 63px;
  }
  #nav, #account-button, #espanol, #sticky-subnav, .sec-header {
    display: none;
  }
  #near-you-container {
    width: 100%;
    padding: 20px 0;
  }
  .location-promo {
    margin-top: 20px;
  }
  .section-header {
    width: 100%;
    height: 35px;
    background-color: #F4F5F5;
    box-sizing: border-box;
    padding: 10px 15px 0 0;
  }
  #near-you-container .section-header h1 {
    font-size: 14px;
    text-transform: uppercase;
  }
  #photo1, #photo2, #map1 {
    width: 100%;
  }
  .collapsable {
    display: block;
    padding-left: 10px;
  }
  #buttons a {
    margin-right: 2px;
  }
  #buttons {
    right: 4px;
  }
  #hero,
  #hero .slides_container,
  #hero .slides_container div {
    width: 320px;
    height: 232px;
  }
  #hero .slides_container div img {
    width: 546px;
    margin-left: -115px;
  }
  #list-button {
    display: inline-block;
  }
  .vdiv {
    border-right: none;
    border-bottom: 1px solid #6c5c54;
    display: block;
    margin: 30px auto -20px auto;
    width: 150px;
    height: 1px;
  }
  #footer-container .quarters {
    width: 138px;
  }
  #footer-container #bottom .locality-quarter {
    display: inline-block;
  }
  #footer-container .location-quarter {
    width: 100%;
  }
  .full {
    display: none;
  }
  .mobile-carousels {
    display: block;
  }
}

