#mobile-hero, .collapsable {
  display: none;
}
@media only screen and (max-width: 767px) {
  #container {
    min-width: 320px;
  }
  #logo {
    top: 3px;
    left: 7px;
    width: 71px;
    height: 71px;
    background-image: url('../img/logo.png');
    background-size: 71px 71px;
  }
  .main-nav, .account-button, #espanol, #sticky-subnav, .sec-header {
    display: none;
  }
  #near-you-container {
    width: 100%;
    padding: 20px 0;
  }
  .location-promo {
    margin-top: 20px;
  }
  .section-header {
    width: 100%;
    height: 35px;
    background-color: #F4F5F5;
    box-sizing: border-box;
    padding: 10px 15px 0 0;
  }
  #near-you-container .section-header h1 {
    font-size: 14px;
    text-transform: uppercase;
  }
  #photo1, #photo2, #map1 {
    width: 100%;
  }
  .collapsable {
    display: block;
    padding-left: 10px;
  }
  #nav li.buttons {
    margin-right: 6px;
    padding: 0;
  }
  #mobile-hero {
    display: block;
    width: 100%;
  }
  #hero,
  #hero .slides_container,
  #hero .slides_container div {
    width: 320px;
    height: 232px;
    display: none;
  }
  #hero .slides_container div img {
    width: 546px;
    margin-left: -115px;
  }
  #list-button {
    display: inline-block;
  }
  #store-header {
    display: none;
  }
  .location-finder #divider {
    display: none;
  }
  .location-finder #mobile-divider {
    display: block;
    margin: 30px auto 20px auto;
  }
  .location-finder #left {
    margin-left: 0px;
    margin-top: 20px;
  }
  .subnav.search #left {
    margin-top: 20px;
  }
  .subnav.order .subnav-content img, .subnav.order img[src="img/vertical_dotted.gif"] {
    display: none;
  }
  #nav li .subnav.order .subnav-content {
    display: block;
    text-align: left;
    margin-left: 30px;
  }
  .buttons .search-form input[type="text"], .buttons .search-form .dashed-line {
    width: 300px;
  }
  .vdiv {
    border-right: none;
    border-bottom: 1px solid #6c5c54;
    display: block;
    margin: 30px auto -20px auto;
    width: 150px;
    height: 1px;
  }
  #footer-container .quarters {
    width: 138px;
  }
  #footer-container #bottom .locality-quarter {
    display: inline-block;
  }
  #footer-container .location-quarter {
    width: 320px;
    margin: 20px 0 20px 36px;
  }
  #three-quarters {
    width: 320px;
    margin: 0;
  }
  #footer-container .thirds .email {
    margin-left: 29px;
  }
  .full {
    display: none;
  }
  .mobile-carousels {
    display: block;
  }
  
  /* MENU */
  .mobile {
    display: inline-block;
  }
  .menu-detail {
    width: 100%;
    background: none;
  }
  .menu-detail .side {
    margin: 0 auto;
    padding-top: 20px;
  }
  #menu-nav {
    display: none;
  }
  .instagram-feed h1 {
    width: 250px;
  }
  .menu-detail .detail-image {
    display: block;
    width: 375px;
    margin: 0 auto;
  }
  #menu-headline {
    background: rgba(255, 255, 255, 0.7);
  }


  /* BUZZ */
  .double-wide {
    width: 230px;
  }
  .box img {
    max-width: 214px;
  }
  .filters, .buzz-headline {
    display: none;
  }

  #order-button {
    margin-right: 140px;
  }
}

