body {
  font-family: Helvetica;
  font-size: 14px;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #666;
}
#container {
  min-width: 1024px;
  margin: 0 auto;
}
.mobile {
  display: none;
}

/* Header Navigation
 * ----------------------------------
*/
#logo {
  position: absolute;
  top: 9px;
  left: 14px;
  width: 110px;
  height: 110px;
  background-image: url('../img/logo.png');
  z-index: 99;
}
#header-nav {
  background-image: url('../img/header-menu/bg.jpg');
  height: 46px;
  width: 100%;
  position: relative;
}
#nav {
  position: absolute;
  left: 140px;
  top: 15px;
  width: 100%;
}
#nav li, li.buttons {
  padding-right: 17px;
  text-transform: uppercase;
  height: 38px;
  font-family: 'Francois One', sans-serif;
  font-size: 16px;
}
li.buttons {
  margin-top: -9px;
}
#nav li {
  float: left;
}
#nav li.buttons {
  float: right;
  padding-bottom: 2px;
}
.break {
  display: none;
}
#nav li a {
  color: #54392d;
}
#nav li:hover a {
  color: #311102;
}
#nav li:hover .subnav,
li.buttons:hover .subnav {
  display: block;
}
#nav li .subnav,
li.buttons .subnav {
  position: absolute;
  z-index: 9;
  display: none;
  box-sizing: border-box;
  text-align: center;
  background-image: url('../img/paper-bg.jpg');
  width: 100%;
  box-shadow: 0 8px 5px -5px rgba(0,0,0,0.3);
  padding: 15px 0 15px 0;
}
#nav li .subnav {
  top: 31px;
  left: -140px;
}
li.buttons .subnav {
  top: 42px;
  left: 15px;
}
#header-nav #buttons a .subnav {
  top: 42px;
  left: -701px;
}
#nav li .subnav.story .subnav-content {
  margin-top: 19px;
}
#nav li .subnav.experience .subnav-content .img-container {
  height: 74px;
  vertical-align: bottom;
}
#nav li .subnav.experience .subnav-content .img-container img {
  vertical-align: bottom;
}
.subnav.mobile {
  position: absolute;
  top: 46px;
  left: 0;
  z-index: 9;
  box-shadow: 0 8px 5px -5px rgba(0,0,0,0.3);
  display: none;
  box-sizing: border-box;
  text-align: left;
  background-image: url('../img/paper-bg.jpg');
  width: 100%;
  padding: 20px;
}
.subnav.mobile .bottom {
  margin-top: 18px;
  line-height: 30px;
}
.subnav.mobile ul li {
  line-height: 34px;
}
.subnav.mobile {
  color: #54392d;
}
.subnav.mobile ul li span {
  margin-left: 9px;
  font-family: 'Francois One', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
.subnav.mobile ul li .arrow {
  width: 0;
  height: 0;
  border-top:   5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom:5px solid transparent;
  border-left:  5px solid #54392d;
  display: inline-block;
  margin-right: -9px;
}

#nav li .subnav .subnav-content {
  margin: 0;
  text-transform: none;
  font-size: 12px;
  display: inline-block;
  width: 175px;
  font-size: 11px;
  font-family: Georgia, serif;
  color: #54392d;
  font-style: italic;
  vertical-align: top;
}
.subnav.story .subnav-content {
}
#nav li .subnav .subnav-content h1 {
  font-size: 14.5px;
  margin: 10px 0 0 0;
  color: #7a6960;
  font-family: 'Francois One', sans-serif;
  font-style: normal;
}
#nav li .subnav .subnav-content .subnav-pic {
  width: 130px;
  height: 80px;
  background-color: #E2E4E5;
}
#nav li .subnav .arrow {
  position: absolute;
  top: -1px;
}
#nav li .subnav.menu .arrow {
  left: 154px;
}
#nav li .subnav.story .arrow {
  left: 228px;
}
#nav li .subnav.experience .arrow {
  left: 323px;
}
#nav li .subnav.find .arrow {
  left: 495px;
}

#list-button {
  display: none;
}

#buttons {
  position: absolute;
  top: 4px;
  right: 15px;
  width: 100%;
  text-align: right;
}
#espanol {
  margin-right: 0;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  color: #54392d;
  display: inline-block;
  margin-top: 11px;
  margin-right: 140px;
  text-transform: none;
}
.buttons .subnav .dashed-line {
  display: block;
  width: 300px;
  height: 1px;
  background-image: url('../img/dashed-line-tile.png');
}
.subnav #left,
.subnav #right,
.subnav #divider {
  text-align: left;
  display: inline-block;
  vertical-align: top;
}
.location-finder #mobile-divider {
  display: none;
}
.location-finder #left {
  margin-left: 93px;
}
.subnav #left,
.subnav #right {
  margin-top: 10px;
}
.subnav.location-finder #divider {
  margin: 0 40px;
}
.subnav.location-finder,
.subnav.account,
.subnav.search {
  font-family: Georgia, sans-serif;
  color: #54392d;
  font-style: italic;
  font-size: 14px;
  text-transform: none;
}
#account-container {
  width: 900px;
  margin: 0 auto;
  padding-left: 104px;
}
#create-account {
  background-color: #dbd5cd;
  padding: 17px;
  font-family: Helvetica, sans-serif;
  color: #54392d;
  font-style: normal;
  font-size: 14px;
  text-align: left;
  float: right;
}
#nav li:hover #create-account a {
  color: #ac2017;
  display: block;
  border-radius: 3px;
}
.buttons .subnav-form {
  margin-top: 15px;
}
.buttons .subnav-form input[type="button"] {
  background-color: #ac2017;
  padding: 5px 10px;
  border-radius: 3px;
  color: #FFF;
  font-size: 15px;
}
.buttons .subnav-form input[type="text"] {
  width: 297px;
  margin-bottom: -4px;
  color: #54392d;
}
.buttons .subnav-form input {
  border: 0;
  background: transparent;
  font-family: 'Francois One', sans-serif;
  font-size: 18px;
  color: #b8afa4;
  text-transform: uppercase;
}
.subnav-form input::-webkit-input-placeholder {
  color: #b8b0a8;
}
.buttons .search-form input[type="button"] {
  background-image: url('../img/magnifying-glass.png');
  background-repeat: no-repeat;
  width: 34px;
  height: 29px;
  background-position: 8px 5px;
}
.buttons .search-form .dashed-line,
.buttons .search-form input[type="text"] {
  width: 570px;
}


/* Hero Carousels
 * ----------------------------------
*/

#mobile-hero {
  display: none;
}
#hero-container {
  width: 100%;
  height: 70%;
  text-align: center;
  overflow: hidden;
  background-color: #21140d;
}
#hero {
  width: 1024px;
  height: 446px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
#hero .slides_container, #menu-hero .slides_container {
  width: 1024px;
  height: 446px;
}
#hero .slides_container div, #menu-hero .slides_container div {
  width: 1024px;
  height: 446px;
  display: block;
  text-align: center;
}
#whats-happening-container .next,
#whats-happening-container .prev,
#near-you-container .next,
#near-you-container .prev {
  width: 58px;
  height: 60px;
  display: block;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  z-index: 99;
}
#whats-happening-container .next,
#near-you-container .next {
  background-image: url('../img/mobile-next.png');
}
#whats-happening-container .next {
  top: 180px;
  right: -45px;
}
#near-you-container .next {
  top: 100px;
  right: 0px;
}
#whats-happening-container .prev,
#near-you-container .prev {
  background-image: url('../img/mobile-prev.png');
}
#whats-happening-container .prev {
  top: 180px;
  left: -45px;
}
#near-you-container .prev {
  top: 100px;
  left: 0px;
}
#hero .slides_container div img {
  width: 100%;
}
#hero .hero-pagination {
  position: absolute;
  bottom: 0;
  right: 23px;
  background-color: rgba(255,255,255,0.5);
  padding: 7px 6px 7px 11px;
  z-index: 99;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#hero .hero-pagination li,
#near-you-container .pagination li {
  display: inline-block;
  margin-right: 5px;
}
#hero .hero-pagination li a,
#near-you-container .pagination li a {
  color: rgba(255,255,255,0);
  border: 1px solid #54392d;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: block;
  box-sizing: border-box;
}
#hero .hero-pagination li.current a,
#near-you-container .pagination li.current a {
  color: rgba(255,255,255,0);
  background-color: #54392d;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: block;
}
#whats-happening-container .pagination li {
  display: inline-block;
  margin-right: 5px;
}
#whats-happening-container .pagination li a {
  color: rgba(255,255,255,0);
  border: 1px solid #9e9189;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: block;
  box-sizing: border-box;
}
#whats-happening-container .pagination li.current a {
  color: rgba(255,255,255,0);
  background-color: #9e9189;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: block;
}
#near-you-container .pagination,
#whats-happening-container .pagination {
  margin-top: 10px;
}
#hero2 {
  width: 1024px;
  height: 300px;
  margin-top: 30px;
}
#hero2 .slides_container {
  width: 1024px;
  height: 300px;
}
#hero2 .slides_container div {
  width: 1024px;
  height: 300px;
  display: block;
}


/* Sub Navigation
 * ----------------------------------
*/
#sticky-subnav, .collapsable {
  width: 100%;
  height: 35px;
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #3F281E 0%, #2B180F 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #3F281E 0%, #2B180F 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #3F281E 0%, #2B180F 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3F281E), color-stop(1, #2B180F));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #3F281E 0%, #2B180F 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #3F281E 0%, #2B180F 100%);
  box-sizing: border-box;
  padding-top: 9px;
  top: 0;
  text-transform: uppercase;
  font-family: 'Francois One', sans-serif;
  font-size: 16px;
  color: #b8afa4;
  position: relative;
}
.collapsable .collapse {
  position: absolute;
  right: 10px;
  top: 5px;
}
#sticky-subnav a {
  color: #b8afa4;
}
#sticky-subnav {
  text-align: center;
  position: relative;
}
#sticky-subnav .top {
  position: absolute;
  top: 9px;
  right: 10px;
  z-index: 99;
}
#sticky-subnav .top img {
  margin: 5px 0 0 5px;
  vertical-align: top;
}
#subnav li {
  display: inline;
  margin-right: 17px;
}

/* Near You
 * ----------------------------------
*/
#near-you-container {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 23px 55px 23px;
  background-image: url('../img/paper-bg.jpg');
  text-align: center;
}
#location {
  width: 301px;
  text-align: left;
  display: inline-block;
  margin-right: 8px;
}
#location a, .red-button {
  padding: 7px 11px;
  background-color: #ac2017;
  font-family: 'Francois One' sans-serif;
  color: #FFF;
  font-size: 15px;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
}
#location a {
  margin-right: 10px;
  margin-top: 15px;
}
.sec-header {
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}
#location h1 {
  color: #54392d;
  font-family: 'Francois One' sans-serif;
  font-size: 23px;
  display: inline-block;
}
#location h2 {
  font-size: 14px;
  font-family: 'Francois One' sans-serif;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 10px;
}
#location .arrow {
  display: inline-block;
  text-align: right;
}
.not-right {
  font-size: 11px;
}
#near-you-map {
  float: left;
  margin-top: 13px;
  margin-right: 13px;
}
#location p {
  font-size: 13px;
  line-height: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}
#location p b {
  font-weight: bold;
}
.location-promo {
  width: 308px;
  display: inline-block;
  vertical-align: top;
  margin: 17px 8px 0 8px;
}
.location-promo a {
  padding: 12px 12px;
  display: block;
  text-transform: uppercase;
  font-family: 'Francois One', sans-serif;
  background-color: #dad0c9;
  font-size: 12px;
  color: #54392d;
  width: 308px;
  box-sizing: border-box;
  margin-top: 5px;
  text-align: left;
}
.location-promo a .right-arrow {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #54392d;
  display: inline-block;
  margin-left: 5px;
}
.mobile-carousels {
  display: none;
  margin: 0 auto;
  position: relative;
}
#snowing {
  background-image: url('../img/snowing-promo.png');
}
#wine-festival {
  background-image: url('../img/wine-festival.jpg');
}
#snowing, #wine-festival {
  width: 308px;
  height: 180px;
  text-align: center;
}
#snowing img, #wine-festival img {
  margin-top: -20px;
}
#whats-happening-container {
  background-image: url('../img/wood-bg.jpg');
  width: 100%;
  padding: 40px 0;
  text-align: center;
}
#whats-happening-container .happenings {
  height: 430px;
}
.happenings {
  width: 230px;
  padding: 10px 8px;
  box-sizing: border-box;
  background-color:rgba(0,0,0,0.5);
  display: inline-block;
  font-family: 'Francois One', sans-serif;
  text-align: left;
  vertical-align: top;
}
.happenings.transparent {
  background-color: rgba(0,0,0,0);
}
.double-wide {
  width: 481px;
}
.happenings h1 {
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 20px;
}
.happenings .rule {
  width: 74px;
  height: 6px;
  margin-top: 9px;
  margin-bottom: 15px;
}
.happenings .body {
  font-size: 18px;
  color: #FFF;
  text-transform: uppercase;
}
.happenings .read-more {
  color: #d3c4b0;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 15px;
  display: block;
}
.happenings .small-text {
  color: #FFF;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  margin-top: 10px;
}
.happenings.promos h1 {
  color: #a95825;
}
.happenings.promos .rule {
  background-color: #a95825;
}
.happenings.culinary-stories h1 {
  color: #7a8973;
}
.happenings.culinary-stories .rule {
  background-color: #7a8973;
}
.happenings.events-community h1 {
  color: #538ca2;
}
.happenings.events-community .rule {
  background-color: #538ca2;
}
.happenings.farmer-stories h1 {
  color: #c2ae93;
}
.happenings.farmer-stories .rule {
  background-color: #c2ae93;
}
.happenings.sustainability h1 {
  color: #717b3f;
}
.happenings.sustainability .rule {
  background-color: #717b3f;
}
.happenings.fun-stuff h1 {
  color: #7f5b4b;
}
.happenings.fun-stuff .rule {
  background-color: #7f5b4b;
}
#chipotle-store-container {
  text-align: center;
  background-image: url('../img/linen-bg.jpg');
  padding: 50px 0 30px 0;
}
#chipotle-store-container #store-header {
  margin-bottom: 30px;
}
#chipotle-store-container a {
  width: 184px;
  height: 34px;
  background-image: url('../img/shop-button.png');
  font-size: 16px;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Francois One', sans-serif;
  box-sizing: border-box;
  padding: 9px 8px;
  display: block;
  margin: 30px auto 0 auto;
}
#chipotle-store-container img {
  margin: 0 -1px;
}

#event-text {
  width: 233px;
  margin: 0 11px;
  margin-top: 30px;
}
.photo6 {
  width: 245px;
  height: 272px;
  margin-top: 30px;
}
.photo7 {
  width: 256px;
  height: 130px;
  margin-right: 11px;
  margin-bottom: 11px;
}

/* Footer
 * ----------------------------------
*/
#footer-container {
  vertical-align: top;
  font-family: 'Francois One', sans-serif;
  text-align: center;
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #3E271D 0%, #291811 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #3E271D 0%, #291811 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #3E271D 0%, #291811 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3E271D), color-stop(1, #291811));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #3E271D 0%, #291811 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #3E271D 0%, #291811 100%);
}
#footer-container #top {
  vertical-align: top;
  text-align: center;
}
#footer-container #bottom {
  vertical-align: top;
  margin: 50px auto 0 auto;
}
#footer-container .thirds {
  width: 330px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-top: 50px;
}
#footer-container .quarters {
  width: 223px;
  display: inline-block;
  margin: 30px 50px;
  text-align: left;
  margin: 20px 0;
  vertical-align: top;
}
#footer-container .quarters ul li {
  color: #b8afa4;
  line-height: 13px;
  font-family: 'Helvetica', sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 13px;
}
#footer-container #top .thirds h1 {
  font-size: 18px;
  color: #b8afa4;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#footer-container #bottom .locality-quarter {
  display: none;
}
#footer-container #bottom .locality-quarter ul li {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Francois One', sans-serif;
}
#footer-container #bottom .locality-quarter .active {
  text-decoration: underline;
}
#footer-container #bottom .quarters h1 {
  font-size: 16px;
  color: #b8afa4;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#footer-container .thirds .button {
  width: 80px;
  height: 25px;
  background-color: #ac2017;
  font-family: 'Francois One', sans-serif;
  border-radius: 3px;
  display: inline-block;
  color: #FFF;
  padding-top: 5px;
  box-sizing: border-box;
  margin: 0 6px;
  text-transform: uppercase;
}
#footer-container .thirds .email {
  text-align: left;
  width: 230px;
  margin-left: 53px;
}
#footer-container .thirds .email input {
  border: 0;
  background: transparent;
  font-family: 'Francois One', sans-serif;
  font-size: 14px;
  color: #b8afa4;
}
#footer-container .thirds .email input::-webkit-input-placeholder {
  color: #766960;
}
#footer-container .thirds .email input[type="text"] {
  width: 200px;
  margin-bottom: -4px;
}
#footer-container .thirds .email input[type="button"],
#footer-container .quarters .location input[type="button"] {
  background-image: url('../img/near-you-arrow.png');
  width: 16px;
  height: 14px;
}
#footer-container .quarters .location input[type="text"] {
  width: 194px;
  margin-bottom: -4px;
}
#footer-container .quarters .location input {
  border: 0;
  background: transparent;
  font-family: 'Francois One', sans-serif;
  font-size: 18px;
  color: #b8afa4;
  text-transform: uppercase;
}
#footer-container .quarters .location input::-webkit-input-placeholder {
  color: #b8afa4;
}
.vdiv {
  border-right: 1px solid #6c5c54;
  height: 90px;
  display: inline-block;
  margin-top: 40px;
}
#footer-container .line {
  width: 920px;
  margin-bottom: 1px solid #666;
}
.location-quarter {
  font-size: 11px;
  color: #b8afa4;
  font-family: Helvetica, sans-serif;
  line-height: 14px;
  margin: 0;
}
#three-quarters {
  display: inline-block;
}
.location-quarter .red-button {
  margin-top: 15px;
}
.subtext {
  color: #b8afa4;
  font-size: 11px;
  opacity: 0.3;
  margin-bottom: 15px;
}
#locality {
  background-color: #21140d;
  height: 45px;
  box-sizing: border-box;
  padding-top: 15px;
  text-align: center;
  font-family: 'Francois One', sans-serif;
  color: #685f58;
  text-transform: uppercase;
}
#locality a {
  color: #b8afa4;
  margin-left: 15px;
}
#locality a.active {
  text-decoration: underline;
}

/* Buzz
 * ----------------------------------
*/

.buzz-container {
  background-image: url('../img/wood-bg.jpg');
}
.buzz-filters {
  background-color: rgba(12,2,0,0.4);
  padding-left: 140px;
  padding: 26px 140px;
  position: relative;
}
#nav li .buzz {
  background-color: #F5F6F6;
}
#buzz-masonry {
  padding-bottom: 40px;
  margin: 0 auto;
  width: 1024px;
}
#buzz-masonry .box {
  margin-top: 21px;
  margin-left: 17px;
}
.filters {
  margin: 20px 6px 0 0;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Francois One', sans-serif;
}
.filters.red a {
  color: #88251f;
}
.filters.orange a {
  color: #a95825;
}
.filters.blue a {
  color: #538ca2;
}
.filters.tan a {
  color: #c2ad93;
}
.filters.gray a {
  color: #7a8973;
}
.filters.green a {
  color: #717a3f;
}
.filters.maroon a {
  color: #7e5b4b;
}
.filters .checkbox {
  width: 8px;
  height: 8px;
  background-color: #FFF;
  border: 1px solid #939598;
  display: inline-block;
  border-radius: 4px;
}
.tweets {
  background-image: url('../img/chipotle-tweets.png');
  width: 230px;
  height: 465px;
  box-sizing: border-box;
  padding: 127px 12px 0 11px;
}
.tweets .date {
  font-size: 10px;
  color: #7e5b4b;
  font-weight: bold;
}
.tweets .name {
  font-size: 12px;
  color: #54392d;
  font-weight: bold;
  display: inline;
}
.tweets .handle {
  font-size: 10px;
  color: #7e5b4b;
  display: inline;
}
.tweets .body {
  font-size: 12px;
  color: #54392d;
  line-height: 14px;
  margin-top: 4px;
}
.tweets .body .red {
  color: #ac2017;
}
.tweets .line {
  border-bottom: 1px solid #d3cbbf;
  width: 213px;
  margin: 10px 0;
}
#filter {
  position: absolute;
  bottom: 0;
  right: 22px;
  padding: 15px 18px;
  background-color: #ac2017;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  color: #FFF;
}
#filter-out {
  width: 1024px;
  position: absolute;
  top: 44px;
  right: 0;
  background-color: #FFF;
  border-bottom: 1px solid #C9CACB;
  display: none;
  padding: 16px 100px;
  box-sizing: border-box;
  z-index: 99;
}
#filter:hover #filter-out {
  display: block;
}
.filter-box {
  width: 95px;
  height: 56px;
  border: 1px solid #C9CACB;
  background-color: #E2E4E5;
  margin: 8px 22px;
  display: inline-block;
}
#menu-headline {
  background: rgba(255,255,255,0.3);
  text-align: center;
  width: 100%;
  z-index: 99;
  height: 89px;
  margin-top: -91px;
  padding-top: 26px;
  box-sizing: border-box;
  position: relative;
}
#menu-hero {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#menu-hero img {
  width: 100%;
}
#menu-content {
  background-image: url('../img/paper-bg.jpg');
  text-align: center;
}
#menu-nav {
  position: relative;
}
#menu-nav a {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #663d2d;
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#menu-nav a img {
  display: block;
}
#menu-nav .menu-down-arrow {
  display: block;
  margin: -5px auto 0 auto;
  padding-right: 691px;
}
.menu-detail {
  background-image: url('../img/burrito-image.png');
  background-repeat: no-repeat;
  background-position: 370px 0px;
  margin-top: 25px;
  margin: 25px auto 0 auto;
  width: 1024px;
}
.menu-detail .detail-image {
  display: none;
}
.menu-detail .side {
  text-align: center;
  width: 220px;
  margin-left: 166px;
  padding-top: 90px;
  line-height: 18px;
  font-size: 13px;
  color: #48403a;
}
.menu-detail .side h1 {
  font-size: 18px;
  color: #663d2d;
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.menu-detail .dotted-line {
  background-image: url('../img/dotted-line.png');
  width: 210px;
  height: 1px;
  margin: 15px 0 15px 0;
}
.menu-detail .bottom-links {
  text-transform: uppercase;
  font-size: 12px;
  color: #ac2017;
  font-family: 'Francois One', sans-serif;
  display: block;
  margin: 20px 0 0 0;
}
.menu-detail .bottom-links .arrow {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #ac2017;
  display: inline-block;
  margin-left: 5px;
}
.instagram-feed {
  text-align: center;
  margin-top: 45px;
  padding-bottom: 30px;
}
.instagram-feed h1 {
  font-size: 18px;
  color: #663d2d;
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
  margin: 0 auto 16px auto;
}
.instagram-feed .red-button {
  margin-top: 15px;
}
.down-arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-top: 4px solid #fff;
  display: inline-block;
  margin-left: 5px;
}


