body {
  font-family: Helvetica;
  font-size: 14px;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #666;
}
#container {
  width: 1024px;
  margin: 0 auto;
}

/* Header Navigation
 * ----------------------------------
*/
#logo {
  position: absolute;
  top: 14px;
  left: 19px;
  width: 96px;
  height: 96px;
  background-image: url('../img/logo.png');
  z-index: 99;
}
#header-nav {
  background-image: url('../img/header-menu/bg.jpg');
  height: 46px;
  width: 100%;
  position: relative;
}
#nav {
  position: absolute;
  left: 120px;
  top: 18px;
}
#nav li {
  display: inline-block;
  padding-right: 17px;
  text-transform: uppercase;
  height: 38px;
  font-family: 'Francois One', sans-serif;
  font-size: 16px;
}
#nav li a {
  color: #54392d;
}
#nav li:hover a {
}
#nav li:hover .subnav {
  display: block;
}
#nav li .subnav {
  position: absolute;
  top: 28px;
  left: -120px;
  z-index: 9;
  width: 1024px;
  border: 1px solid #9DA6A8;
  background-color: #FFF;
  display: none;
  box-sizing: border-box;
  text-align: center;
}
#nav li .subnav .subnav-content {
  margin: 25px 30px;
  text-transform: none;
  font-size: 12px;
  display: inline-block;
  width: 130px;
}
#nav li .subnav .subnav-content:nth-child(1) {
  margin-left: 55px;
}
#nav li .subnav .subnav-content:nth-child(5) {
  margin-right: 55px;
}
#nav li .subnav .subnav-content h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}
#nav li .subnav .subnav-content .subnav-pic {
  width: 130px;
  height: 80px;
  background-color: #E2E4E5;
}
#nav li .subnav .arrow {
  width: 0px;
  height: 0px;
  border-width: 15px 15px 0 15px;
  border-color: #CCC transparent transparent transparent;
  border-style: solid;
  position: absolute;
  top: -1px;
}
#nav li .subnav.menu .arrow {
  left: 123px;
}
#nav li .subnav.story .arrow {
  left: 205px;
}
#nav li .subnav.experience .arrow {
  left: 311px;
}
#nav li .subnav.buzz .arrow {
  left: 397px;
}
#nav li .subnav.find .arrow {
  left: 495px;
}

#buttons {
  position: absolute;
  top: 4px;
  right: 15px;
}
#buttons #espanol {
  margin-right: 0;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  color: #54392d;
}
#buttons a {
  vertical-align: top;
  margin-right: 12px;
}

/* Hero Carousels
 * ----------------------------------
*/
#hero, #menu-hero {
  width: 1024px;
  height: 446px;
}
#hero .slides_container, #menu-hero .slides_container {
  width: 1024px;
  height: 477px;
}
#hero .slides_container div, #menu-hero .slides_container div {
  width: 1024px;
  height: 477px;
  display: block;
}
#hero2 {
  width: 1024px;
  height: 300px;
  margin-top: 30px;
}
#hero2 .slides_container {
  width: 1024px;
  height: 300px;
}
#hero2 .slides_container div {
  width: 1024px;
  height: 300px;
  display: block;
}


/* Sub Navigation
 * ----------------------------------
*/
#sticky-subnav, .collapsable {
  width: 100%;
  height: 35px;
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #3F281E 0%, #2B180F 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #3F281E 0%, #2B180F 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #3F281E 0%, #2B180F 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3F281E), color-stop(1, #2B180F));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #3F281E 0%, #2B180F 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #3F281E 0%, #2B180F 100%);
  box-sizing: border-box;
  padding-top: 9px;
  top: 0;
  text-transform: uppercase;
  font-family: 'Francois One', sans-serif;
  font-size: 16px;
  color: #b8afa4;
}
#sticky-subnav {
  text-align: center;
}
#sticky-subnav .top {
  position: absolute;
  top: 9px;
  right: 10px;
}
#subnav li {
  display: inline;
  margin-right: 17px;
}

/* Near You
 * ----------------------------------
*/
#near-you-container {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 23px 55px 23px;
  background-image: url('../img/paper-bg.jpg');
  text-align: center;
}
#location {
  width: 301px;
  text-align: left;
  display: inline-block;
  margin-right: 8px;
}
#location a {
  padding: 7px 11px;
  background-color: #ac2017;
  font-family: 'Francois One' sans-serif;
  color: #FFF;
  font-size: 15px;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  margin-right: 10px;
  margin-top: 15px;
}
.sec-header {
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}
#location h1 {
  color: #54392d;
  font-family: 'Francois One' sans-serif;
  font-size: 23px;
  display: inline-block;
}
#location h2 {
  font-size: 14px;
  font-family: 'Francois One' sans-serif;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 10px;
}
#location .arrow {
  display: inline-block;
  text-align: right;
}
.not-right {
  font-size: 11px;
}
#near-you-map {
  float: left;
  margin-top: 13px;
  margin-right: 13px;
}
#location p {
  font-size: 13px;
  line-height: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}
#location p b {
  font-weight: bold;
}
.location-promo {
  width: 308px;
  display: inline-block;
  vertical-align: top;
  margin: 17px 8px 0 8px;
}
.location-promo a {
  padding: 12px 12px;
  display: block;
  text-transform: uppercase;
  font-family: 'Francois One', sans-serif;
  background-color: #dad0c9;
  font-size: 12px;
  color: #54392d;
  width: 308px;
  box-sizing: border-box;
  margin-top: 5px;
  text-align: left;
}
#summerstage {
  background-image: url('../img/summerstage.jpg');
}
#wine-festival {
  background-image: url('../img/wine-festival.jpg');
}
#summerstage, #wine-festival {
  width: 308px;
  height: 180px;
  text-align: center;
}
#summerstage img, #wine-festival img {
  margin-top: -20px;
}
#whats-happening-container {
  background-image: url('../img/wood-bg.jpg');
  width: 100%;
  padding: 40px 0;
  text-align: center;
}
#whats-happening-container .happenings {
  width: 230px;
  height: 430px;
  padding: 10px 8px;
  box-sizing: border-box;
  background-color:rgba(0,0,0,0.5);
  display: inline-block;
  font-family: 'Francois One', sans-serif;
  text-align: left;
}
#whats-happening-container .happenings h1 {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 20px;
}
#whats-happening-container .happenings .rule {
  width: 74px;
  height: 6px;
  margin-top: 9px;
  margin-bottom: 15px;
}
#whats-happening-container .happenings .body {
  font-size: 18px;
  color: #FFF;
  text-transform: uppercase;
}
#whats-happening-container .happenings .read-more {
  color: #d3c4b0;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 15px;
}

#whats-happening-container .happenings.promos h1 {
  color: #a95825;
}
#whats-happening-container .happenings.promos .rule {
  background-color: #a95825;
}
#whats-happening-container .happenings.culinary-stories h1 {
  color: #7a8973;
}
#whats-happening-container .happenings.culinary-stories .rule {
  background-color: #7a8973;
}
#whats-happening-container .happenings.events-community h1 {
  color: #538ca2;
}
#whats-happening-container .happenings.events-community .rule {
  background-color: #538ca2;
}
#whats-happening-container .happenings.farmer-stories h1 {
  color: #c2ae93;
}
#whats-happening-container .happenings.farmer-stories .rule {
  background-color: #c2ae93;
}
#chipotle-store-container {
  text-align: center;
  background-image: url('../img/linen-bg.jpg');
  padding: 50px 0 30px 0;
}
#chipotle-store-container #store-header {
  margin-bottom: 30px;
}
#chipotle-store-container a {
  width: 184px;
  height: 34px;
  background-image: url('../img/shop-button.png');
  font-size: 16px;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Francois One', sans-serif;
  box-sizing: border-box;
  padding: 9px 8px;
  display: block;
  margin: 30px auto 0 auto;
}
#chipotle-store-container img {
  margin: 0 -1px;
}

#event-text {
  width: 233px;
  margin: 0 11px;
  margin-top: 30px;
}
.photo6 {
  width: 245px;
  height: 272px;
  margin-top: 30px;
}
.photo7 {
  width: 256px;
  height: 130px;
  margin-right: 11px;
  margin-bottom: 11px;
}

/* Footer
 * ----------------------------------
*/
#footer-container {
  vertical-align: top;
  font-family: 'Francois One', sans-serif;
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #3E271D 0%, #291811 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #3E271D 0%, #291811 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #3E271D 0%, #291811 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3E271D), color-stop(1, #291811));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #3E271D 0%, #291811 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #3E271D 0%, #291811 100%);
}
#footer-container #top {
  vertical-align: top;
  text-align: center;
}
#footer-container #bottom {
  vertical-align: top;
}
#footer-container .thirds {
  width: 330px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-top: 50px;
}
#footer-container .quarters {
  width: 215px;
  display: inline-block;
  margin: 30px 50px;
  text-align: top;
  margin: 20px 0;
  vertical-align: top;
}
#footer-container .quarters:nth-child(1) {
  margin-left: 35px;
}
#footer-container .quarters ul li {
  color: #b8afa4;
  line-height: 13px;
  font-family: 'Helvetica', sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 13px;
}
#footer-container #top .thirds h1, #footer-container #bottom .quarters h1 {
  font-size: 18px;
  color: #b8afa4;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#footer-container .thirds .button {
  width: 80px;
  height: 25px;
  background-color: #ac2017;
  font-family: 'Francois One', sans-serif;
  border-radius: 3px;
  display: inline-block;
  color: #FFF;
  padding-top: 5px;
  box-sizing: border-box;
  margin: 0 6px;
}
#footer-container .thirds .email {
  text-align: left;
  width: 230px;
}
#footer-container .thirds .email input {
  border: 0;
  background: transparent;
  font-family: 'Francois One', sans-serif;
  font-size: 14px;
  color: #b8afa4;
}
#footer-container .thirds .email input[type="text"] {
  width: 200px;
  margin-bottom: -4px;
}
#footer-container .thirds .email input[type="button"],
#footer-container .quarters .location input[type="button"] {
  background-image: url('../img/near-you-arrow.png');
  width: 16px;
  height: 14px;
}
#footer-container .quarters .location input[type="text"] {
  width: 194px;
  margin-bottom: -4px;
}
#footer-container .quarters .location input {
  border: 0;
  background: transparent;
  font-family: 'Francois One', sans-serif;
  font-size: 18px;
  color: #b8afa4;
  text-transform: uppercase;
}
.vdiv {
  border-right: 1px solid #6c5c54;
  height: 110px;
  display: inline-block;
  margin-top: 30px;
}
#footer-container .line {
  width: 920px;
  margin-bottom: 1px solid #666;
}

/* Buzz
 * ----------------------------------
*/
#nav li .buzz {
  background-color: #F5F6F6;
}
#buzz-masonry .box {
  width: 332px;
  background-color: #E2E4E5;
  margin-top: 13px;
}
#buzz-masonry .big {
  width: 677px;
  height: 400px;
}
#buzz-masonry .one {
  height: 353px;
}
#buzz-masonry .two {
  height: 202px;
}
#buzz-masonry .three {
  height: 298px;
}

.filters {
  margin: 20px 6px;
  display: inline-block;
}
.filters .checkbox {
  width: 11px;
  height: 11px;
  background-color: #FFF;
  border: 1px solid #939598;
  display: inline-block;
}
#filter {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px;
  height: 100%;
  background-color: #FFF;
  box-sizing: border-box;
}
#filter-out {
  width: 1024px;
  position: absolute;
  top: 56px;
  right: 0;
  background-color: #FFF;
  border-bottom: 1px solid #C9CACB;
  display: none;
  padding: 16px 100px;
  box-sizing: border-box;
}
#filter:hover #filter-out {
  display: block;
}
.filter-box {
  width: 95px;
  height: 56px;
  border: 1px solid #C9CACB;
  background-color: #E2E4E5;
  margin: 8px 22px;
  display: inline-block;
}

/* Menu
 * ----------------------------------
*/

.subnav.menu {
  padding: 15px 0;
}
.menu-pic {
  width: 117px;
  height: 78px;
  background-color: #E2E4E5;
  border: 1px solid #C9CACB;
  margin: 11px;
  display: inline-block;
}
.menu-pic:hover {
  background-color: #FAFBFB;
  border: 1px solid #999999;
}
.slide {
  width: 1024px;
  height: 477px;
  background-color: #E2E4E5;
}
#menu-hero .slides_container .slide-text {
  position: absolute;
  top: 81px;
  left: 23px;
  width: 300px;
  color: #858585;
  line-height: 18px;
}
#menu-hero .slides_container .slide-text h1 {
  font-size: 26px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-bottom: 10px;
}
#menu-hero .slides_container .order-now {
  width: 94px;
  height: 24px;
  box-sizing: border-box;
  padding-top: 3px;
  background-color: #FAFBFB;
  border: 1px solid #666;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
#menu-container {
  text-align: center;
}
#menu-head-subhead-container {
  text-transform: uppercase;
  width: 650px;
  margin: 25px auto 30px auto;
}

#menu-head-subhead-container h1 {
  font-size: 40px;
  float: left;
  margin-top: -4px;
  margin-right: 4px;
}
#menu-head-subhead-container #sub {
  font-size: 15px;
}
.menu-h2 {
  font-size: 26px;
  margin: 0 auto;
  display: block;
}
.menu-body-copy {
  width: 550px;
  margin: 0 auto;
  margin-top: 20px;
}
.ingredient-detail {
  margin-top: 20px;
  display: inline-block;
  text-align: left;
  width: 420px;
  vertical-align: top;
  margin-right: 55px;
}
.ingredient-detail a {
  text-decoration: underline;
}
.ingredient-detail .photo {
  width: 420px;
  height: 248px;
  background-color: #E2E4E5;
}
.ingredient-detail h3 {
  text-transform: uppercase;
  margin: 15px 0;
}
#ingredient-grid {
  margin-top: 15px;
  display: inline-block;
  width: 302px;
  vertical-align: top;
  margin-bottom: 20px;
}
#ingredient-grid .box {
  width: 86px;
  height: 78px;
  margin: 6px;
  box-sizing: border-box;
  background-color: #E2E4E5;
  display: inline-block;
  bottom: 1px solid #C9CACB;
}
#ingredient-grid .box:hover {
  background-color: #FAFBFB;
  border: 3px solid #9DA6A8;
}
.dig-container {
  display: inline-block;
  width: 255px;
  margin: 20px 25px 60px 25px;
}
.dig-box {
  width: 255px;
  height: 120px;
  background-color: #E2E4E5;
}
#pics-container {
  margin-top: 15px;
}
#pics-container .pic {
  width: 167px;
  height: 190px;
  background-color: #E2E4E5;
  display: inline-block;
}
