@media only screen and (max-width: 1023px) {
  #container {
    min-width: 768px;
  }
  #container #near-you-container .location-promo.second {
    display: none;
  }
  #header-nav #nav li:nth-child(5) {
    display: none;
  }
  #whats-happening-container .happenings:nth-child(4) {
    display: none;
  }
  #chipotle-store-container .store-pic:nth-child(4) {
    display: none;
  }
  #buttons a {
    margin-right: 6px;
  }
  #top .thirds:nth-child(1) {
    width: 212px;
    padding: 0 36px;
    box-sizing: border-box;
  }
  #top .thirds:nth-child(3) {
    width: 268px;
  }
  #top .thirds:nth-child(5) {
    width: 271px;
  }
  #hero,
  #hero .slides_container,
  #hero .slides_container div {
    width: 768px;
    height: 334px;
  }
  #footer-container .quarters:nth-child(1) {
    margin-left: 50px;
  }
  #footer-container .quarters {
    width: 230px;
  }
  #three-quarters {
    width: 483px;
    text-align: left;
    display: inline-block;
    margin-left: 67px;
  }
  #footer-container .quarters:nth-child(1) {
    margin-left: 0;
  }
  #footer-container #bottom .locality-quarter {
    display: inline-block;
  }
  #locality {
    display: none;
  }
}
